.FullScreenIndexProduct{
    width: 100vw;
    height: 100vh;
   
}

.HeaderIndexProduct{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    margin-bottom: 5%;
    gap: 16%;
}

.goBackDivIndexProduct{
    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14vw;
    height: 7vh;
    background-color: #E6E6E6;
}

.threeDotsdivIndexProduct{
    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14vw;
    height: 7vh;
    background-color: #E6E6E6;

}

#activeLogoIndexProduct{
    color: white;
}

.activeLogoDivIndexProduct{
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 8vh;
    
}

.activeNameDivIndexProduct{
    display: flex;
    align-items: center;
    margin-left: 6%;
}

#activeNameIndexProduct{
    margin-left: 9%;
    font-size: 25px;
    
}

.calenderDivIndex{
    display: flex;
    gap: 60px;
    margin-left: 9%;
    background-image: url('../../assets/img/Calendar.png');
    width: 87vw;
    height: 12vh;
    padding-top: 1.5%;
}

#dayIndex{
    
    margin-left: 8%;

}

#yearIndex{
    margin-left: -7px;
}

.calenderItemsIndex{
    font-size: 18px;
    
}


.amountIndex{
    font-size: 32px;
    font-weight: bold;
}

.currentBalanseIndex{
    font-size: 18px;
    
}

.amountandCurrentBalanseIndex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

#chart-containerIndex{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.divproductButtonIndex{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#buyBtnIndex{
    background-color: #76D1B4;
    color: white;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

#withdrawBtnIndex{
    background-color: #CE5656;
    color: white;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.allOrdersIndex{
    margin-left: 4%;
}

.divAllOrdersIndex{
    display: flex;
    gap: 59%;
    align-items: center;
}

#ordensIndex{
    font-size: 22px;
    font-weight: bold;
}

#verTodasIndex{
    font-size: 12px;
    font-weight: bold;
}

.allordersDivIndex{
    
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 30px 30px 30px 30px;
    gap: 5%;
    padding-left: 4%;
    background-color: #F6F5FA;
    width: 28%;
    height: 7vh;
}

.allOrdersItemsIndex{
    background-color: #76D1B4;
    border-radius: 50%;
    width: 8vw;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza horizontalmente */
}

.allOrdersItemsWithdrawIndex{
    background-color: #CE5656;
    border-radius: 50%;
    width: 8vw;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza horizontalmente */
}

.OrderValueandNameIndex{
    
    
}

#OrderNomeIndex{
    margin-top: 2%;
}

#OrderValueIndex{
    margin-bottom: 2%;
}

#allOrderslogoIndex{
    color: white;
    font-weight: bold;
}

.allOrdersMainDivIndex{
    display: flex;
}