.FullContentSTK{
    
    margin-left: 4%;
    width: 95vw; /* 100% da largura da viewport */
  height: 100vh; /* 100% da altura da viewport */
    
}

.HeaderSTK{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    margin-bottom: 5%;
    gap: 16%;
}

.goBackDivSTK{
    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14vw;
    height: 7vh;
    background-color: #E6E6E6;
}

.threeDotsdivSTK{
    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14vw;
    height: 7vh;
    background-color: #E6E6E6;

}


.bigCardDivSTK{
    background: linear-gradient(to right, #96C9D9, #B5D8EE);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Sombra */
    border-radius: 16px;
    margin-left: 5%;
    width: 80vw;
    height: 25vh;
    margin-top: 15%;
    padding-left: 2%;
}

.activeItemdivSTK{
    display: flex;
    align-items: center;
}

.activeLogoDivSTK{
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9vw;
    height: 5vh;
    
}

#activeLogoSTK{
    color: white;
}

#activeNameSTK{
    margin-left: 9%;
    width: 70vw;
}

.activeValuesSTK{
    margin-left: 45%;
    font-size: 14px;
    
}

#activeValues1STK{
    
    margin-top: 3%;
}

#activeValues2STK{
    margin-bottom: 3%;
    color: #76D1B4;
    
}

.bordaSTK{
    border-bottom: 1px solid #E6E6E6;
}

#portfolioSTK{
    color: white;
    margin-bottom: -2%;
}

#portfolioValueSTK{
    color: white;
    font-size: 38px;
    margin-bottom: 2%;
}

#portfolioIconSTK{
    width: 11px;
    height: 5px;
    
}

.sellsDivSTK{
    display: flex;
    
    border-radius: 40px;
    margin-right: 2%;
    justify-content: center;
    gap: 10%;
    background-color: #C4E0F8;
}

.sellItemSTK{
    color: white;
    
}

.bordaVerticalSTK{
    border-right: 1px solid white;
    height: 6vh;
    margin-top: 2%;
}

.Link{
    
        text-decoration: none; /* Remove o sublinhado */
        color: inherit; /* Mantém a cor do texto padrão */
}