.FullContentTOP{
    
    margin-left: 4%;
    width: 95vw; /* 100% da largura da viewport */
  height: 100vh; /* 100% da altura da viewport */
    
}

.HeaderTOP{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    margin-bottom: 5%;
    gap: 16%;
}

.goBackDiv{
    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14vw;
    height: 7vh;
    background-color: #E6E6E6;
}

.threeDotsdiv{
    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14vw;
    height: 7vh;
    background-color: #E6E6E6;

}


.bigCardDiv{
    background: linear-gradient(to right, #96C9D9, #B5D8EE);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Sombra */
    border-radius: 16px;
    margin-left: 5%;
    width: 80vw;
    height: 25vh;
    margin-top: 15%;
    padding-left: 2%;
}

.activeItemdiv{
    display: flex;
    align-items: center;
}

.activeLogoDiv{
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9vw;
    height: 5vh;
    
}

#activeLogo{
    color: white;
}

#activeName{
    margin-left: 9%;
    width: 50vw;
}

.activeValues{
    margin-left: 45%;
    
}

#activeValues1{
    
    margin-top: 3%;
    font-size: 14px;
}

#activeValues2{
    margin-bottom: 3%;
    font-size: 14px;
    color: #76D1B4;
}

.borda{
    border-bottom: 1px solid #E6E6E6;
}

#portfolio{
    color: white;
    margin-bottom: -2%;
}

#portfolioValue{
    color: white;
    font-size: 38px;
    margin-bottom: 2%;
}

#portfolioIcon{
    width: 11px;
    height: 5px;
    
}

.sellsDiv{
    display: flex;
    
    border-radius: 40px;
    margin-right: 2%;
    justify-content: center;
    gap: 10%;
    background-color: #C4E0F8;
}

.sellItem{
    color: white;
    
}

.bordaVertical{
    border-right: 1px solid white;
    height: 6vh;
    margin-top: 2%;
}

.Link{
    
        text-decoration: none; /* Remove o sublinhado */
        color: inherit; /* Mantém a cor do texto padrão */
}