#consultasVP{
    width: 45vw;
    font-size: 16px;
}

.FullContentOperationsVP{
    
    margin-left: 4%;
    width: 95vw; /* 100% da largura da viewport */
  height: 100vh; /* 100% da altura da viewport */
    
}

.HeaderOperationsVP{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    margin-bottom: 5%;
    gap: 16%;
}




.goBackDivOperationsVP{
    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14vw;
    height: 7vh;
    background-color: #E6E6E6;
}

.threeDotsdivOperationsVP{
    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14vw;
    height: 7vh;
    background-color: #E6E6E6;

}

.labelViewConsulta1VP{
    display: flex;
    margin-left: -85%;
    margin-bottom: -5%;
}

.labelViewConsulta2VP{
    display: flex;
    margin-left: -67%;
    margin-bottom: -5%;
}

.labelViewConsulta3VP{
    display: flex;
    margin-left: -78%;
    margin-bottom: -5%;
}

.labelViewConsulta4VP{
    display: flex;
    margin-left: -31%;
    margin-bottom: -5%;
}

.labelViewConsulta5VP{
    display: flex;
    margin-left: -67%;
    margin-bottom: -5%;
}

.labelViewConsulta6VP{
    display: flex;
    margin-left: -80%;
    margin-bottom: -5%;
}

#inputImagemVP{
    margin-bottom: 5%;
}

.inputStyleViewconsultaVP[type="date"] {
    text-align: left;       /* Alinha o texto à esquerda */
    text-align-last: left;  /* Garante que o texto final também fica à esquerda */
}

.inputStyleViewconsultaVP[type="time"] {
    text-align: left;       /* Alinha o texto à esquerda */
    text-align-last: left;  /* Garante que o texto final também fica à esquerda */
}

.inputStyleViewconsultaVP{
    width: 90vw;
    height: 5vh;
    background-color: #C4E0F8;
    border: none;
    border-radius: 11px;
    font-size: 15px;
    color: rgb(92, 89, 89);
    font-weight: bold;
    box-shadow: 5px 6px 20px rgba(0, 0, 0, 0.15); /* Sombra externa */
    margin-left: -3%;
    margin-bottom: -7%;
}

  .buttondivVP{
    display: flex;
    align-items: center;
    gap: 15px;

  }

  #inputDatadivMC{
    margin-bottom: 5%;
  }

  #MarcarConsultaBtnVP{
    
    font-weight: bold;

}

.imagemFileDivMC{
    
    width: 90vw;
}

.validateButtonVP{
width: 25vw;
border: 1px solid #506172;
background-color: #a7c0d7;
display: flex;
align-items: center;
justify-content: center;
}

.rescheduleButtonVP{
    width: 25vw;
    border: 1px solid #30516f;
    background-color: #4e80af;
    display: flex;
    align-items: center;
    justify-content: center;
}
