#consultasVE{
    width: 45vw;
    font-size: 16px;
}

.FullContentOperationsVE{
    
    margin-left: 4%;
    width: 95vw; /* 100% da largura da viewport */
  height: 100vh; /* 100% da altura da viewport */
    
}

.HeaderOperationsVE{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    margin-bottom: 5%;
    gap: 16%;
}




.goBackDivOperationsVE{
    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14vw;
    height: 7vh;
    background-color: #E6E6E6;
}

.threeDotsdivOperationsVE{
    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14vw;
    height: 7vh;
    background-color: #E6E6E6;

}

.labelViewConsulta1VE{
    display: flex;
    margin-left: -85%;
    margin-bottom: -5%;
}

.labelViewConsulta2VE{
    display: flex;
    margin-left: -67%;
    margin-bottom: -5%;
    margin-top: -6%;
}

.labelViewConsulta3VE{
    display: flex;
    margin-left: -78%;
    margin-bottom: -5%;
}

.labelViewConsulta4VE{
    display: flex;
    margin-left: -69%;
    margin-bottom: -5%;
    margin-top: -6%;
}

.labelViewConsulta5VE{
    display: flex;
    margin-left: -67%;
    margin-bottom: -5%;
}

.labelViewConsulta6VE{
    display: flex;
    margin-left: -80%;
    margin-bottom: -5%;
}

#inputImagemVE{
    margin-bottom: 5%;
}

.inputStyleViewconsultaVE[type="date"] {
    text-align: left;       /* Alinha o texto à esquerda */
    text-align-last: left;  /* Garante que o texto final também fica à esquerda */
}

.inputStyleViewconsultaVE[type="time"] {
    text-align: left;       /* Alinha o texto à esquerda */
    text-align-last: left;  /* Garante que o texto final também fica à esquerda */
}

.inputStyleViewconsultaVE{
    width: 90vw;
    height: 5vh;
    background-color: #C4E0F8;
    border: none;
    border-radius: 11px;
    font-size: 15px;
    color: rgb(92, 89, 89);
    font-weight: bold;
    box-shadow: 5px 6px 20px rgba(0, 0, 0, 0.15); /* Sombra externa */
    margin-left: -3%;
    margin-bottom: -7%;
}

  .buttondivVE{
    display: flex;
    align-items: center;
    gap: 15px;

  }

  #inputDatadivMC{
    margin-bottom: 5%;
  }

  #MarcarConsultaBtnVE{
    
    font-weight: bold;

}

.imagemFileDivMC{
    
    width: 90vw;
}

.validateButtonVE{
width: 25vw;
border: 1px solid #506172;
background-color: #a7c0d7;
display: flex;
align-items: center;
justify-content: center;
}

.rescheduleButtonVE{
    width: 25vw;
    border: 1px solid #30516f;
    background-color: #4e80af;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formContainerVE {
    position: relative; /* necessário para posicionar o loading dentro */
  }
  
  .formLoadingVE {
    position: absolute;
    inset: 0; /* cobre o form todo */
    background-color: rgba(255, 255, 255, 0.8); /* leve fundo branco */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  
