.FullContentOperationsEX{
    
    margin-left: 4%;
    width: 95vw; /* 100% da largura da viewport */
  height: 100vh; /* 100% da altura da viewport */
    
}

.HeaderOperationsEX{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    margin-bottom: 5%;
    gap: 16%;
}




.goBackDivOperationsEX{
    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14vw;
    height: 7vh;
    background-color: #E6E6E6;
}

.threeDotsdivOperationsEX{
    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14vw;
    height: 7vh;
    background-color: #E6E6E6;

}


.bigCardDivOperationsEX{
    background: linear-gradient(to right, #96C9D9, #B5D8EE);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Sombra */
    border-radius: 16px;
    margin-left: 5%;
    width: 80vw;
    height: 25vh;
    margin-top: 15%;
    padding-left: 2%;
}

.activeItemdivOperationsEX{
    display: flex;
    align-items: center;
    
}

.activeLogoDivOperationsSaqueEX{
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9vw;
    height: 5vh;
    background-color: #94b3cd;
}

.activeLogoDivOperationsDepositoEX{
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9vw;
    height: 5vh;
    background-color: #94b3cd;
}

.interventionDivEX{

    
}

#activeLogoOperationsEX{
    color: white;
    
}

#activeNameOperationsEX{
    margin-left: 9%;
}

#dataConsultaEX{
    margin-left: 8%;
    margin-top: -9%;
    
    width: 45%;
}

#horaEntradaEX{
    margin-top: -10%;
    margin-left: 5%;
    font-size: 11px;
    
}

#estadoEX{
    display: flex;
    margin-top: -18%;
    margin-left: 5%;
    font-size: 12px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 3vh;
}

#horaSaidaEX{
    margin-top: -10%;
    margin-left: 5%;
    font-size: 11px;
}

.horarioDivEX{
    display: flex;
    gap: 5px;
    align-items: center;
    
    width: 125%;
}

.activeValuesOperationsEX{
    margin-left: 45%;
    
    
}

#activeValues1OperationsEX{
    
    margin-top: 3%;
}

#activeValues2OperationsEX{
    margin-bottom: 3%;
    color: #76D1B4;
}

.bordaOperationsEX{
    border-bottom: 1px solid #E6E6E6;
}

#portfolioOperationsEX{
    color: white;
    margin-bottom: -2%;
}

#portfolioValueOperationsEX{
    color: white;
    font-size: 38px;
    margin-bottom: 2%;
}

#portfolioIconOperationsEX{
    width: 11px;
    height: 5px;
    
}

.sellsDivOperationsEX{
    display: flex;
    
    border-radius: 40px;
    margin-right: 2%;
    justify-content: center;
    gap: 10%;
    
}

.sellItemOperationsEX{
    color: white;
    
}

.bordaVerticalOperationsEX{
    border-right: 1px solid white;
    height: 6vh;
    margin-top: 2%;
}

.LinkEX{
    
        text-decoration: none; /* Remove o sublinhado */
        color: inherit; /* Mantém a cor do texto padrão */
}

#DepositarBtnOperationsEX{
    background-color: #76D1B4;
    color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    width: 30%;
    border-radius: 10px;
}

#sacarBtnOperationsEX{
    background-color: #CE5656;
    color: white;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    width: 30%;
    border-radius: 10px;
}

#consultasPendentesEX{
    
    width: 45vw;
    font-size: 16px;
}


    