.FullContentOperations{
    
    margin-left: 4%;
    width: 95vw; /* 100% da largura da viewport */
  height: 100vh; /* 100% da altura da viewport */
    
}

.HeaderOperations{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    margin-bottom: 5%;
    gap: 16%;
}




.goBackDivOperations{
    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14vw;
    height: 7vh;
    background-color: #E6E6E6;
}

.threeDotsdivOperations{
    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14vw;
    height: 7vh;
    background-color: #E6E6E6;

}


.bigCardDivOperations{
    background: linear-gradient(to right, #96C9D9, #B5D8EE);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Sombra */
    border-radius: 16px;
    margin-left: 5%;
    width: 80vw;
    height: 25vh;
    margin-top: 15%;
    padding-left: 2%;
}

.activeItemdivOperations{
    display: flex;
    align-items: center;
}

.activeLogoDivOperationsSaque{
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9vw;
    height: 5vh;
    background-color: #94b3cd;
}

.activeLogoDivOperationsDeposito{
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9vw;
    height: 5vh;
    background-color: #94b3cd;
}

.interventionDiv{

    
}

#activeLogoOperations{
    color: white;
}

#activeNameOperations{
    margin-left: 9%;
    
}

#activeName{
    margin-left: 9%;
}

.Link{

    text-decoration: none;
}

#dataConsulta{
    margin-left: 8%;
    margin-top: -8%;
    
    width: 45%;
}

#horaEntrada{
    margin-top: -10%;
    margin-left: 5%;
    font-size: 11px;
    
}

#horaSaida{
    margin-top: -10%;
    margin-left: 5%;
    font-size: 11px;
}

.horarioDiv{
    display: flex;
    gap: 5px;
    align-items: center;
    
    width: 125%;
}

.activeValuesOperations{
    margin-left: 45%;
    
    
}

#activeValues1Operations{
    
    margin-top: 3%;
}

#activeValues2Operations{
    margin-bottom: 3%;
    color: #76D1B4;
}

.bordaOperations{
    border-bottom: 1px solid #E6E6E6;
}

#portfolioOperations{
    color: white;
    margin-bottom: -2%;
}

#portfolioValueOperations{
    color: white;
    font-size: 38px;
    margin-bottom: 2%;
}

#portfolioIconOperations{
    width: 11px;
    height: 5px;
    
}

.sellsDivOperations{
    display: flex;
    
    border-radius: 40px;
    margin-right: 2%;
    justify-content: center;
    gap: 10%;
    
}

.sellItemOperations{
    color: white;
    
}

.bordaVerticalOperations{
    border-right: 1px solid white;
    height: 6vh;
    margin-top: 2%;
}

.Link{
    
        text-decoration: none; /* Remove o sublinhado */
        color: inherit; /* Mantém a cor do texto padrão */
}

#DepositarBtnOperations{
    background-color: #76D1B4;
    color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    width: 30%;
    border-radius: 10px;
}

#sacarBtnOperations{
    background-color: #CE5656;
    color: white;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    width: 30%;
    border-radius: 10px;
}


    